//@import 'reset.css'


$phone-screen-xs = 20em
$phone-screen    = 34em
$tablet-screen    = 48em
$desktop-screen   = 62em

$screen     = "only screen";
$phone-xs   = "only screen and (max-width: " + $phone-screen-xs + ")"
$phone      = "only screen and (max-width: " + $phone-screen + ")"
$tablet     = "only screen and (min-width: " + $tablet-screen + ")"
$desktop    = "only screen and (min-width: " + $desktop-screen + ")"
$landscape  = "only screen and (orientation: landscape)"
$portrait   = "only screen and (orientation: portrait)"


$dark = #353535
$light = #eee

$color = $dark
$color-light = #8c9398
$hero-span-color = #a1a9b0
$cta-bg = rgba(61, 201, 179, 1)
$cta-color = #fff

html
  height 100%



body
  background url(/img/bg/shore-bw.jpg) fixed
  background-size cover
  font-family 'Varela Round', sans-serif
  align-items stretch
  color $color

nav
  width 100%
  position fixed
  display flex
  //justify-content center
  justify-content flex-end
  padding 1em 0
  transition background 1s  
  &.scrolled
    background alpha(black, 15%)
  a
    //background $dark
    flex-shrink 1
    color $dark
    padding 9px 25px
    margin-left 1em
    //border 1px solid $dark
    transition background-color 0.2s, color 0.2s
    &:hover
      background $dark
      color $light
    &:first-of-type
      margin-left 0
  @media $phone
    margin-top 0
    justify-content center
    background alpha(black, 45%)
    &.scrolled
      background alpha(black, 45%)
    a
      color $light
      padding 9px 10px
      border none
      &:hover
        border-bottom 3px solid $cta-bg




.container
  width 70%
  max-width 800px
  margin 0 auto
  @media $phone
    width 90%



/* Home
 ------------------------------------------------------------ */
header
  display flex

  justify-content center
  align-items center
  flex-direction column
  // border 1px solid red
  height 100vh

.jumbotron
  text-align center
  h1
    font-size 4em
    letter-spacing 12px
    //font-variant small-caps
    text-transform uppercase
    span
      color $hero-span-color
      b
        position relative
        font-size 110px
        bottom -23px
  p
    color $color-light
    margin 0.7em 0 4em 0
  button
    background $cta-bg
    color $cta-color
    box-shadow 0px 3px 0px 0px #309383
    margin-top 2em
    padding 20px 40px
    letter-spacing 1px
    text-transform uppercase
    margin  0 auto
    border-radius 5px
    border none
    font-weight bold
    display inline-block
    &:hover
      background alpha($cta-bg, 85%)
    @media $phone
      padding 10px 20px
      border-radius 3px


article
  margin-bottom 25vmax
  @media $phone
    margin-bottom 40vmax


h1.section-name
  font-size  3vmax
  text-align center
  margin-bottom 1em
  letter-spacing 12px
  @media $phone
    font-weight bolder



/* Software
 ------------------------------------------------------------ */



/* Contact
 ------------------------------------------------------------ */





/* Globals
 ------------------------------------------------------------ */
a.name
  color lighten($cta-bg, 40%)
  font-size 1.3em
  padding-bottom 5px
  display inline-block

a
  text-decoration none







$base-line-height = 24px;
$spin-duration = 1s;


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading
  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: .25rem solid $dark;
  border-top-color: $cta-bg;
  animation: spin $spin-duration infinite linear;
  &--double
    border-style solid